<ion-view view-title="{{item.name}}">
    <ion-nav-title>
        {{item.name}}
    </ion-nav-title>
    <div id="map" data-tap-disabled="true" style="width:500px; height:300px"></div>
    <!--<ion-content class="padding">-->
        <!--<h5 style="text-align: center;">{{item.address}}</h5>
        <h5 style="text-align : center;">{{item.name}}</h5>
        <p style="text-align: center;">{{item.tel}}</p>
        <h3 style="text-align : center;">{{item.category}}</h3>-->
    <!--</ion-content>-->
</ion-view>